<p>ID = {{id}}</p>
<p>NAME = {{name}}</p>
<p>PRICE = {{price}}</p>
<p>STOCK = {{stock}}</p>
<br>
<form action="sepeteEkle" method="POST"><input type="button" value="AddToCard"></form> <br>
<a href="http://localhost:5000/sepet">Sepete Git</a> <br><br>
<a href="http://localhost:5000/products">Geri Dön</a>
