<h2>Welome to the our main page {{name}} </h2>
<a href="http://localhost:5000/login">Login</a><br>
<a href="http://localhost:5000/register">Register</a> <br>
<a href="http://localhost:5000/products">Products</a> <br>